@using Drukarka3DData.Models
@*@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}*@

<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-action="ManageAccount">Profil</a>
    <a class="list-group-item list-group-item-action" asp-action="ChangePassword">Zmień hasło</a>
    @*@if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins">External logins</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>*@
</div>

