@model Drukarka3DData.Models.LoaderViewModel

<environment include="Development">
    <script src="~/js/loader.js"></script>
    <script src="~/js/stl.js"></script>
</environment>



<div class="row box">
    @if (ViewData["message"] != null)
    {
        @if (!ViewData["message"].Equals(""))
        {
            <div class="alert alert-warning" role="alert">
                @ViewData["message"]
            </div>

        }

    }
    <div class="col-xs-12">
        <div id="view" style="margin-top: 10px">
        </div>
    </div>

    <form asp-controller="Home" asp-action="UploadFile" method="post" enctype="multipart/form-data">
        <div class="col-xs-12" style="margin-top:10px">
            <label class="btn btn-primary btn-file">Wybierz plik<input type="file" name="file" id="file" accept=".stl" /></label>
            <br />
            <br />
        </div>
        <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
            <label asp-for="ProjectName">
                Nazwa projektu:
            </label>
            <input asp-for="ProjectName" type="text" class="form-control" name="projectName" id="projectName" value="MojProjekt" />
            <span asp-validation-for="ProjectName" class="text-danger"></span>
            <br />
        </div>
        <div class="col-xs-12">
            <label asp-for="IsPrivate">
                Projekt publiczny:
            </label>
            <input asp-for="IsPrivate" type="checkbox" name="isPrivate" id="isPrivate" checked />
            <span asp-validation-for="IsPrivate" class="text-danger"></span>
            <br />
        </div>
        <div class="col-xs-12">

            <button type="submit" class="btn btn-primary" id="confirm" style="margin-bottom: 10px">Wyślij</button>
        </div>

    </form>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
