@model IEnumerable<Drukarka3DData.Models.OrderViewModel>

<script>
    window.addEventListener("load", function () {
        $(".changePage").click(function () {

            var PageNumber = $(this).text();

            if ($("#SearchString").val() == null) $("#SearchString").val("");

            var SearchString = $("#SearchString").val();

            var NumberOfResolutsInPage = $('#elements-on-page').val();

            var SortingType = $("#select-sorting").val();

            var SortingOrder = $("#select-order").val();

            var _url = "Test";

            var projectViewForm = {
                "PageNumber": PageNumber,
                "SearchString": SearchString,
                "NumberOfResolutsInPage": NumberOfResolutsInPage,
                "SortingType": SortingType,
                "SortingOrder": SortingOrder};

            $.ajax({
                method: "POST",
                url: _url,
                data: JSON.stringify(projectViewForm),
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8"
            })
                
                .done(function (msg) {
                    $('#refreshData').load(document.URL + ' #refreshData');
                })
                .fail(function (msg) { 
                    alert("Fail [string]: " + msg);
                });
        });

</script>
<div class="box">
    <h2>Galeria Projektów</h2>
    <br>
    <div class="flipkart-navbar-search smallsearch col-sm-4 col-xs-11">
        <form asp-controller="Home" asp-action="ProjectsGallery">
            <div class="row searchBox">

                <input class="flipkart-navbar-input col-xs-11" placeholder="Wpisz wyszukiwaną frazę" type="text" name="SearchString" id="SearchString">
                <button class="flipkart-navbar-button col-xs-1" id="searchPhrase">
                    <svg width="15px" height="15px">
                        <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div id="search-text" class="col-sm-2">
        Sortuj:
    </div>
    <div class="col-sm-2">
        <select id="select-sorting" class="form-control">
            <option value="1" selected="selected">dodano</option>
            <option value="2">status</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select id="select-order" class="form-control">
            <option value="1" selected="selected">rosnąco</option>
            <option value="2">malejąco</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select id="elements-on-page" class="form-control">
            <option value="1" selected="selected">9</option>
            <option value="2">18</option>
            <option value="3">36</option>
            <option value="4">81</option>
        </select>
    </div>
    <div id="refreshData">
    <table class="table table-hover table-striped table-bordered" id="orders-table">
        <tbody>
            @{ 
                int onPage = Model.ElementAt(0).NumberOfResolutsInPage;
                int pageNumber = Model.ElementAt(0).PageNumber;
                int max = Model.Count();
                int beginElement = 0;
                beginElement = onPage * pageNumber;
                if (pageNumber + onPage < max+1)
                {
                    onPage = (max + 1) - beginElement;
                }
             }
            @for (int i = beginElement; i < onPage; i += 3)
            {
                <tr>
                    @for (int j = i; j < i + 3; j++)
                    {
                        @if (j < onPage)
                        {

                            <td>
                                <form asp-controller="Home" asp-action="ProjectView" method="post" enctype="multipart/form-data">
                                    <button class="project-gallery-imagebtn" style="background: url(@Model.ElementAt(j).Order.UserScreenPath)" name="@Model.ElementAt(j).Order.OrderId" id="@Model.ElementAt(j).Order.OrderId"></button>                                
                                </form>
                            </td>
                        }
                    }
                </tr>
            }

        </tbody>
    </table>


    <ul class="pagination pagination-sm">
        @{ int PageNumber = (int)Math.Ceiling((double)((int)(Model.Count()) / Convert.ToInt32(Model.ElementAt(0).NumberOfResolutsInPage)));}
        @for (int i = 0; i < PageNumber; i++)
        {
            <li><a id="page-@i" class="changePage">@i</a></li>
        }
    </ul>
    </div>
</div>

