@model Drukarka3DData.Models.AdminPanelViewModel

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <h3>Zmień Status Projektu</h3>
        <form asp-controller="Account" asp-action="AdminPanel" method="post">
            <div class="form-group">
                <label asp-for="FileName"></label>
                <input class="form-control" asp-for="FileName" type="text" name="FileName" />
            </div>
            <div class="form-group">
                <label asp-for="Message"></label>
                <textarea class="form-control" asp-for="Message" name="Message"></textarea>
            </div>
            @*<label>
                <select name="Status" class="form-control">
                <option value="Przyjęto" selected="selected">Przyjęto</option>
                <option value="Błąd Wydruku">Błąd Wydruku</option>
                <option value="Zatwierdzono">Zatwierdzono</option>
            </select>
            lub

            </label>*@
            <button type="submit" class="btn btn-primary">Wyślij</button>
        </form>
    </div>
</div>