@model Drukarka3DData.Models.RegisterViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@section LoginLink
        {
        <a href="@Url.Action("Login", "Home")">Zaloguj</a>
    }*@

<div class="box row">
    <h2>Rejestracja</h2>
    <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
        <form method="post" asp-controller="Account" asp-action="Register">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@

            <div>
                <label asp-for="Login"></label>
                <br>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Email"></label>
                <br>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Password"></label>
                <br>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="ConfirmPassword"></label>
                <br>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div>
                <input class="button btn btn-primary" type="submit" value="Rejestracja" />
            </div>

        </form>
    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}